<input type="text" (keyup)="changeImg($event)" [value]="imgURL" />

<app-post [postImg]="imgURL" (clickImg)="logMsg($event)">
  <p>come text from parent component</p>
</app-post>

<h2>Hello World!! My name is {{ name | titlecase }}</h2>

<p>
  today is {{ date | date: "MMMM d,y, HH:mm ":"GMT-0600" }} (
  <span>All times in Central Time</span> )
</p>

<p>Hello {{ getName() }}</p>

<p>{{ 15 + 12 }}</p>

<p>{{ cost | currency: "JPY" }}</p>

<!-- pipe can be chained togather -->
<p>{{ number | number: "1.0-2" | currency: "USD" }}</p>

<!-- json pipe are most used for debugging! -->
<pre>
  pizza:
    {{ pizza | json }}
</pre>
