<ng-template [ngIf]="blueClass">
  <p>Button is blue.</p>
</ng-template>

<!-- short hand syntax for above code -->
<p *ngIf="blueClass">Button is blue</p>

<button
  (click)="changeColor($event)"
  [ngClass]="{ blue: blueClass }"
  [ngStyle]="{ 'font-size.em': fontSize }"
>
  change color class
</button>
<hr />
<input type="text" (keyup)="changeImg($event)" [value]="imgURL" />

<app-post
  *ngFor="let img of imgURLs; let i = index"
  [postImg]="img"
  (clickImg)="logMsg($event)"
>
  <p>come text from parent component {{ i }}</p>
</app-post>

<h2>Hello World!! My name is {{ name | titlecase }}</h2>

<p>
  today is {{ date | date: "MMMM d,y, HH:mm ":"GMT-0600" }} (
  <span>All times in Central Time</span> )
</p>

<p>Hello {{ getName() }}</p>

<p>{{ 15 + 12 }}</p>

<p>{{ cost | currency: "JPY" }}</p>

<!-- pipe can be chained togather -->
<p>{{ number | number: "1.0-2" | currency: "USD" }}</p>

<!-- json pipe are most used for debugging! -->
<pre>
  pizza:
    {{ pizza | json }}
</pre>
